body {
  background: #fff;
  font-family: 'Lato';
}

h1, h2, h3, h4 {
    font-weight: 700;
}

#hero {
  background-image: url(img/orquestra-filarmonica-de-violas-panoramica.jpg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  aspect-ratio: 16/7;
  text-align: center;
}

#hero img {
  width: 15%;
  margin: 30px auto 0 auto;
}

#spotify {
  background: #000;
}

#youtube {
  background: #000;
}

.yt {
  aspect-ratio: 16 / 9;
  width: 100%;
}

#texto2 .fa-quote-left {
    color: #432061;
    font-size: 3em;
}

#texto2 .blockquote-footer {
    color: #432061;
    font-size: 1.5em;
    font-weight: 700;
}

#contato {
    background: #000;
    color: #fff;
    font-size: 2em;
    text-align: center;
}

#contato h4 {
    font-size: 1.5em;
}

#contato span {
    display: block;
}


@media (min-width: 992px) {
  #hero {
    background-size: cover;
  }

  #hero img {
    margin: 100px auto 0 auto;
  }
}
