body {
  background: #fff;
  font-family: 'Lato';
}

h1, h2, h3, h4 {
    font-weight: 700;
}

img {
  max-width: 100%;
}


nav { background-color: #000; }

#hero {
  background-image: url(img/orquestra-filarmonica-de-violas-panoramica.jpg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  aspect-ratio: 16/7;
  text-align: center;
}

#hero img {
  width: 18%;
  margin: 0px auto 0 auto;
}

#spotify {
  background: #000;
}

#youtube {
  background: #000;
}

.yt {
  aspect-ratio: 16 / 9;
  width: 100%;
}

#texto2 .fa-quote-left {
    color: #432061;
    font-size: 3em;
}

#texto2 blockquote {
  font-size: 1em;
}

#texto2 .blockquote-footer {
    color: #432061;
    font-size: 1.2em;
    font-weight: 700;
}

#contato {
    background: #210e27;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

#contato h4 {
    font-size: 1em;
}

#contato span {
    display: block;
}


@media (min-width: 992px) {

  body h1, h2, h3, h4 {
    font-size: 1.75em;
  }

  body section {
    font-size: 1.75em;
  }

  nav {
    font-size: 1.2em;
  }

  #hero img {
    margin: 70px auto 0 auto;
  }

  #texto2 blockquote {
    font-size: 1.4em;
  }

  #contato {
    font-size: 2em;
  }

  
  #contato h4 {
    font-size: 1.5em;
  }
}
